/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

/* HEADER -------------------------------------------------------- */

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 90px;
  width: 100%;
  background: #000000d9;
  backdrop-filter: blur(18px);
  display: flex;
  align-items: center;
  padding: 0 40px;
  z-index: 999;
}

.logo-area {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
}

.logo-icon {
  width: 70px;
  height: 70px;
}

.logo-text {
  font-size: 34px;
  font-family: "Racing Sans One";
  color: #eb221e;
}

.menu {
  margin-left: auto;
  display: flex;
  gap: 40px;
}

.menu a {
  display: flex;
  gap: 8px;
  align-items: center;
  text-decoration: none;
  color: #eb221e;
  font-family: "Racing Sans One";
  font-size: 20px;
}

/* HERO -------------------------------------------------------- */

.hero {
  margin-top: 130px;
  padding-left: 40px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.hero-icon {
  width: 75px;
  height: 75px;
}

.hero h1 {
  font-family: "Racing Sans One";
  font-size: 70px;
  color: #eb221e;
}

/* CONTEÚDO -------------------------------------------------------- */

.content {
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr 380px;
  gap: 40px;
}

/* Caixa vermelha */

.left-box {
  background: #430000d0;
  padding: 40px;
  border-radius: 16px;
  backdrop-filter: blur(10px);
}

.small-title {
  font-family: "Racing Sans One";
  font-size: 30px;
  margin-bottom: 10px;
}

.main-title {
  font-size: 40px;
  margin-bottom: 25px;
}

.descricao {
  font-size: 20px;
  line-height: 1.6;
}

/* Botões */

.right-box {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.action-btn {
  height: 95px;
  border-radius: 14px;
  border: 4px solid #fff;
  background: #0c0c0ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Racing Sans One";
  font-size: 34px;
  text-decoration: none;
  color: #fff;
  transition: 0.2s;
}

.action-btn:hover {
  scale: 1.03;
}

/* FOOTER -------------------------------------------------------- */

.footer {
  margin-top: 100px;
  padding: 40px;
  background: #383838;
  display: grid;
  grid-template-columns: 260px 1fr 200px 200px;
  gap: 40px;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.footer-logo img {
  width: 90px;
}

.footer-logo h2 {
  font-family: "Racing Sans One";
  font-size: 36px;
  color: #eb221e;
}

.footer-text {
  font-size: 16px;
  line-height: 1.4;
}

.footer-col h3 {
  margin-bottom: 10px;
}

.footer-col ul {
  list-style: none;
}

.footer-col li {
  margin: 6px 0;
}

.copy {
  grid-column: 1 / -1;
  text-align: center;
  margin-top: 20px;
  font-size: 15px;
}

/* RESPONSIVIDADE -------------------------------------------------------- */

@media (max-width: 1100px) {
  .content {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 760px) {
  .hero h1 {
    font-size: 50px;
  }
}

@media (max-width: 560px) {
  .content,
  .hero {
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer {
    grid-template-columns: 1fr;
  }
}
