@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Racing+Sans+One&display=swap');

:root {
  --black: rgba(26, 32, 44, 1);
  --title-hero-font-family: "Racing Sans One", Helvetica;
  --title-hero-font-weight: 400;
  --title-hero-font-size: 48px;
  --title-hero-letter-spacing: -1.44px;
  --title-hero-line-height: 120.00000476837158%;
  --title-hero-font-style: normal;
  --title-page-font-family: "Racing Sans One", Helvetica;
  --title-page-font-weight: 400;
  --title-page-font-size: 40px;
  --title-page-letter-spacing: 0px;
  --title-page-line-height: 120.00000476837158%;
  --title-page-font-style: normal;
  --escritas-font-family: "Montserrat", Helvetica;
  --escritas-font-weight: 600;
  --escritas-font-size: 36px;
  --escritas-letter-spacing: 0px;
  --escritas-line-height: 120.00000476837158%;
  --escritas-font-style: italic;
  --escritas-menores-font-family: "Montserrat", Helvetica;
  --escritas-menores-font-weight: 600;
  --escritas-menores-font-size: 24px;
  --escritas-menores-letter-spacing: -0.48px;
  --escritas-menores-line-height: 120.00000476837158%;
  --escritas-menores-font-style: normal;
  --subheading-font-family: "Inter", Helvetica;
  --subheading-font-weight: 400;
  --subheading-font-size: 20px;
  --subheading-letter-spacing: 0px;
  --subheading-line-height: 120.00000476837158%;
  --subheading-font-style: normal;
  --footer-font-family: "Montserrat", Helvetica;
  --footer-font-weight: 600;
  --footer-font-size: 20px;
  --footer-letter-spacing: 0px;
  --footer-line-height: 139.9999976158142%;
  --footer-font-style: normal;
  --body-strong-font-family: "Inter", Helvetica;
  --body-strong-font-weight: 600;
  --body-strong-font-size: 16px;
  --body-strong-letter-spacing: 0px;
  --body-strong-line-height: 139.9999976158142%;
  --body-strong-font-style: normal;
  --body-emphasis-font-family: "Inter", Helvetica;
  --body-emphasis-font-weight: 400;
  --body-emphasis-font-size: 16px;
  --body-emphasis-letter-spacing: 0px;
  --body-emphasis-line-height: 139.9999976158142%;
  --body-emphasis-font-style: italic;
  --body-link-font-family: "Inter", Helvetica;
  --body-link-font-weight: 400;
  --body-link-font-size: 16px;
  --body-link-letter-spacing: 0px;
  --body-link-line-height: 139.9999976158142%;
  --body-link-font-style: normal;
  --body-small-font-family: "Inter", Helvetica;
  --body-small-font-weight: 400;
  --body-small-font-size: 14px;
  --body-small-letter-spacing: 0px;
  --body-small-line-height: 139.9999976158142%;
  --body-small-font-style: normal;
  --body-small-strong-font-family: "Inter", Helvetica;
  --body-small-strong-font-weight: 600;
  --body-small-strong-font-size: 14px;
  --body-small-strong-letter-spacing: 0px;
  --body-small-strong-line-height: 139.9999976158142%;
  --body-small-strong-font-style: normal;
  --body-code-font-family: "Roboto Mono", Helvetica;
  --body-code-font-weight: 400;
  --body-code-font-size: 16px;
  --body-code-letter-spacing: 0px;
  --body-code-line-height: 100%;
  --body-code-font-style: normal;
  --NOSSOS-PRODUTOS-font-family: "Racing Sans One", Helvetica;
  --NOSSOS-PRODUTOS-font-weight: 400;
  --NOSSOS-PRODUTOS-font-size: 96px;
  --NOSSOS-PRODUTOS-letter-spacing: -2.88px;
  --NOSSOS-PRODUTOS-line-height: 120.00000476837158%;
  --NOSSOS-PRODUTOS-font-style: normal;
  --text-font-family: "Red Rose", Helvetica;
  --text-font-weight: 700;
  --text-font-size: 64px;
  --text-letter-spacing: 0px;
  --text-line-height: 120.00000476837158%;
  --text-font-style: normal;
  --single-line-body-base-font-family: "Inter", Helvetica;
  --single-line-body-base-font-weight: 400;
  --single-line-body-base-font-size: 16px;
  --single-line-body-base-letter-spacing: 0px;
  --single-line-body-base-line-height: 100%;
  --single-line-body-base-font-style: normal;
  --single-line-body-small-strong-font-family: "Inter", Helvetica;
  --single-line-body-small-strong-font-weight: 600;
  --single-line-body-small-strong-font-size: 14px;
  --single-line-body-small-strong-letter-spacing: 0px;
  --single-line-body-small-strong-line-height: 100%;
  --single-line-body-small-strong-font-style: normal;
  --utilities-component-notes-regular-font-family: "Roboto Mono", Helvetica;
  --utilities-component-notes-regular-font-weight: 400;
  --utilities-component-notes-regular-font-size: 16px;
  --utilities-component-notes-regular-letter-spacing: 0px;
  --utilities-component-notes-regular-line-height: 139.9999976158142%;
  --utilities-component-notes-regular-font-style: normal;
  --utilities-component-notes-bold-font-family: "Roboto Mono", Helvetica;
  --utilities-component-notes-bold-font-weight: 700;
  --utilities-component-notes-bold-font-size: 16px;
  --utilities-component-notes-bold-letter-spacing: 0px;
  --utilities-component-notes-bold-line-height: 139.9999976158142%;
  --utilities-component-notes-bold-font-style: normal;
  --medium-type-16-font-family: "Plus Jakarta Sans", Helvetica;
  --medium-type-16-font-weight: 500;
  --medium-type-16-font-size: 16px;
  --medium-type-16-letter-spacing: -0.32px;
  --medium-type-16-line-height: 150%;
  --medium-type-16-font-style: normal;
  --drop-shadow-100: 0px 1px 4px 0px rgba(12, 12, 13, 0.05);
  --drop-shadow-200: 0px 1px 4px 0px rgba(12, 12, 13, 0.05),
    0px 1px 4px 0px rgba(12, 12, 13, 0.1);
  --drop-shadow-300: 0px 4px 4px -1px rgba(12, 12, 13, 0.05),
    0px 4px 4px -1px rgba(12, 12, 13, 0.1);
  --drop-shadow-400: 0px 4px 4px -4px rgba(12, 12, 13, 0.05),
    0px 8px 8px 48px rgba(12, 12, 13, 0.9);
  --drop-shadow-500: 0px 4px 4px -4px rgba(12, 12, 13, 0.05),
    0px 16px 16px -8px rgba(12, 12, 13, 0.1);
  --drop-shadow-600: 0px 16px 32px -8px rgba(12, 12, 13, 0.4);
}
